<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Tamagotchi Simulator</title>
  </head>
  <body>
  <div class="container">

      <h1>Welcome to the Tamagotchi Simulator!</h1>
    </div>
  <div class="row">
    <h2>Tamagotchi name: @Model.GetName()</h2>
    <div class="col-md-4">
    <h4>Tamagotchi hunger level: @Model.GetHunger()</h4>
    <form action="/eat" method="post">
    <button type="submit" name="feed" class="btn btn-success">Eat</button>
    </form>
  </div>
  <div class="col-md-4">
    <h4>Attention level: @Model.GetPlay()</h4>
    <form action="/play" method="post">
    <button type="submit" name="button" class="btn btn-success">Play</button>
    </form>
  </div>
  <div class="col-md-4">
    <h4>Energy level: @Model.GetRest()</h4>
    <form action="/sleep" method="post">
    <button type="submit" name="button" class="btn btn-success">Sleep</button>
    </form>
  </div>
</div>
    <div class="well">
      <form action="/time" method="post">
        <button type="submit" name="button" class="btn btn-danger">Kill It</button>
      </form>
  </div>
</div>
  </body>
</html>
